body{
  background-color: rgb(244, 247, 248);
}
main {
    min-height: 80vh;
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  .rating svg {
    color: #f8e825;
  }
  
  .rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
  }
  
  .product-title {
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for long text */
    white-space: nowrap; /* Prevent wrapping */
    text-align: left;
    margin: 0px;
  }
  
  table td,
  table th {
    text-align: center;
  }
  
  .review {
    margin-top: 30px;
  }
  
  .review h2 {
    font-size: 24px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .review button {
    margin-top: 10px;
  }
  
  .carousel {
    width: 68%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 3%;
    margin-bottom: 50px;

  }
  .carousel-item img {
    width: 100%;
    height:100%;
   
  }

.logo{
    width: 200px;
    height: 50px;
    margin-top: 38px;
   
}
.send{
  margin-left: 30%;
  margin-right: 30%;
}


#nav-dropdown-dark-example{
   color: white !important;
}

.ink{
 color: white !important;   
}

.search{
  height: 50%;
}
.yellow{
  color: #f8e825;
  font-size: 80px;
}
.heading{
  font-size: 60px;
}

.cart{
  margin-top: 62px;
}

.google{
  height: 30px;
  width: 30px;
}

.coupon {
  margin-top: 20px;
  background-image: url('/images/Home1.png');
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 250px;
  border-radius: 1%;
  position: relative;
}
.girls {
  margin-top: 20px;
  background-image: url('/images/girls.jpg');
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 300px;
  border-radius: 3%;
}
.boys {
  margin-top: 20px;
  background-image: url('/images/boys.jpg');
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 300px;
  border-radius: 3%;
}

.couponform{
  position: absolute;
  top: 50%;
  right: 25%;
}

.coupclass{
  margin-left: 70px;
}


.fixed-height-card {
  height: 400px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fixed-height-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fixed-height-card .card-img-top {
  height: 200px; 
  object-fit: cover;
}
